.git
.github
.env
src/.env
src/node_modules
src/vendor
src/storage/logs/*
src/storage/framework/cache/*
src/storage/framework/sessions/*
src/storage/framework/views/*
ai-service/.env
ai-service/.venv
**/__pycache__
